.anim-show {
    animation: fade-in .5s forwards;
}
@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: .99; }
}


.anim-hide {
    animation: fade-out .5s;
}
@keyframes fade-out {
    from { opacity: .99; }
    to { opacity: 0; }
}